*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.flex{
	display:flex;
	justify-content: center;
	align-items: center;
}
header {
	/* background: #272629; */
	background: linear-gradient(180deg, rgba(96,96,96,1) 0%, rgba(8,8,8,1) 100%); 
	height:10vh;
	color: #fff;
}
.container{
	margin: auto;
	display:flex;
	justify-content: space-between;
	width:60vw;
}
.container img{
	width:350px;
}
.container ul{
	list-style: none;
	display:flex;
	font-family: 'Knewave', cursive;
	
}
.container li{
	margin: 20px;
	font-size: 20px;
}
#foodImage{
	height:90vh;
	width:100vw;
}
#foodImage img{
	width:100%;
	height:100%; 
}